<div class="container">
    <span style="color: red;font-size: 18px;font-weight: bold;">
        </span>
      <img src="https://static.lingoapp.com/assets/images/email/il-password-reset@2x.png" style="height:140px;">  
      <h2>Reset Password</h2>
     <hr/>
     
      <label style="font-size: 18px;">Username</label>
      <input type="text" [(ngModel)]="username"  name="username" id="username" class="form-control" style="width:60%">
      
      <div [hidden]="showPassword">
      <label style="font-size: 18px;">Password</label>
      <input type="password" [(ngModel)]="password"    id="password" name="password" class="form-control" style="width:60%">
    </div>
       <br/>   
   
        &nbsp;&nbsp;
        <button type="button" (click)="validateUsername()"  class="btn {{buttonCss}}">{{buttonLable}}</button>

    <hr/>

    <br/>
    
</div>


